.Carousel {
  background-color: #F7F8FA;
  height: 40vh;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  color: #333;
}
.slick-arrow {
  background-color: blue;
}
.BookCard {
  background-color: pink;
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.Cover {
  height: 210px;
  width: auto;
  max-width: 140px;
  position: absolute;
  top: 30px;
  left: 20px;
  text-align: center;
}
.Cover img {
  min-height: 180px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.Info {
  height: 200px;
  width: 220px;
  position: absolute;
  right: 0;
}
.Info h1 {
  color: #263238;
  font-size: 0.8em;
  padding: 5px;
  height: 35px;
}
.Author {
  margin-top: 0;
  color: #FFFFFF;
  font-size: 0.7em;
  margin-left: 10px;
}
.Rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFCA28;
  margin-left: 10px;
  margin-top: -5px;
}
.Rate span {
  color: #607D8B;
  font-size: 0.7em;
  margin-left: 15px;
}
.BookDescription {
  color: #607D8B;
  font-size: 0.8em;
  margin: 10px;
  text-align: justify;  
}
.SeeBook button {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  color: pink;
  background-color: #FFFFFF;
  border: none;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}